.tbl {
  /* width: 600px; */
  text-align: left;
  /* margin-left: 500px; */
}

.txtbox {
  max-width: 180px;
  box-shadow: inset;
  border: 2cap;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 2cap;
  border-color: black;
  border-radius: 12px;
}

.rw {
  margin-top: 60px;
}

.chkbtn button{
  width: auto;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 12px;
  margin: 10px;
  cursor: pointer;
  margin-top: 20px;
  align-items: center;
}
