.shopTitle {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  max-width: max-content;
}

@media screen and (max-width: 430px) {
  .product img {
    width: 320px;
  }
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  margin: 2px;
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  width: 130px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: auto;
  }
}
@media screen and (max-width: 774px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    height: auto;
  }
}
@media screen and (min-width: 1180px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1256px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
